.dark {
  --background: oklch(0.2 0.006 285.885);
  --foreground: oklch(0.97 0.002 286);
  --card: oklch(0.24 0.007 286);
  --card-foreground: oklch(0.97 0.002 286);
  --popover: oklch(0.24 0.007 286);
  --popover-foreground: oklch(0.97 0.002 286);
  --primary: oklch(0.92 0.004 286.32);
  --primary-foreground: oklch(0.24 0.007 286);
  --secondary: oklch(0.3 0.008 286);
  --secondary-foreground: oklch(0.97 0.002 286);
  --muted: oklch(0.3 0.008 286);
  --muted-foreground: oklch(0.68 0.012 286);
  --accent: oklch(0.3 0.008 286);
  --accent-foreground: oklch(0.97 0.002 286);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 14%);
  --input: oklch(1 0 0 / 18%);
  --ring: oklch(0.58 0.014 286);
  --chart-1: oklch(0.871 0.006 286.286);
  --chart-2: oklch(0.552 0.016 285.938);
  --chart-3: oklch(0.442 0.017 285.786);
  --chart-4: oklch(0.37 0.013 285.805);
  --chart-5: oklch(0.3 0.008 286);
  --sidebar: oklch(0.22 0.007 286);
  --sidebar-foreground: oklch(0.97 0.002 286);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.97 0.002 286);
  --sidebar-accent: oklch(0.3 0.008 286);
  --sidebar-accent-foreground: oklch(0.97 0.002 286);
  --sidebar-border: oklch(1 0 0 / 14%);
  --sidebar-ring: oklch(0.58 0.014 286);
}
